image: node:lts-alpine

cache:
  - key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store

variables:
  mongoServer: "mongo:27017"
  redisHost: "redis"
  natsHost: "nats"

  FF_USE_FASTZIP: 1
  CACHE_COMPRESSION_LEVEL: fast
  COREPACK_ENABLE_AUTO_PIN: 0

before_script:
  - npm install -g corepack@latest
  - corepack enable
  - corepack prepare pnpm@latest-10 --activate
  - pnpm config set store-dir .pnpm-store

stages:
  - test
  - audit

test:
  stage: test
  except:
    - schedules
  services:
    - mongo:latest
    - redis:latest
    - nats:latest
  script:
    - pnpm install
    - pnpm run test:ci
  coverage: '/^Statements\s*:\s*([^%]+)/'

audit:
  stage: audit
  only:
  - schedules
  script:
    - pnpm audit
